 /* General Compartments */

html {
    background: linear-gradient(to top left, #33ccff 0%, #99ffcc 100%);
    height: 100%;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

header {
    text-align: center;
}

#form{
    float: left;
    padding: 20px;
    width: 300px;
    height: 400px; 
    background-color: #f1f1f1;
    
}
footer {
    background-color: teal;
    padding: 10px;
    text-align: center;
    color: white;
}

section:after {
    content: "";
    display: table;
    clear: both;
  }

 
/* Navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }


 /* Logo */
img {
    max-width:20%;
    height:auto;
    border-radius: 700px;
}

 /* calendar */
 #calendar{
    float: left;
    background: linear-gradient(to bottom, #ff9999 0%, #ffcc99 100%);
    padding: 20px;
    text-align: center;
}
table {
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
	border-collapse: collapse;
    background: linear-gradient(to bottom, #ff9999 0%, #ffcc99 100%);
}

#top {
    text-align:center;
   padding: 10px 0;
}

tr, .rowday  {
   align-self: center;
   text-align:left;
}

td {
    padding: 10px 30px;
    border: 5px solid white;
   text-align:left;
}

td:hover {background-color: #f5f5f5;}

  

